@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Montserrat:wght@300&family=Open+Sans&family=Poppins:wght@500&display=swap');

/* Comman */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.section-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    color: #514040;
    font-size: 18px;
    margin-bottom: 30px;
}
.section-title {
    font-size: 45px;
    color: #313131;
    margin-bottom: 80px;
    font-weight: 500;
    text-align: center;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Header */

.btn {
    display: block;
    padding: 18px 45px;
    margin: 0 auto;
    background-color: #49ad09; 
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background-color: #f2f2f2;
    position: relative;
}
.particle {
    position: absolute;
}
.header .particle {
    top: 0;
    right: 0;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo span {
    font-size: 18px;
    font-weight: 700;
    color: #313131;
}
.nav_list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.nav_link {
    font-size: 18px;
    color: #313131;
}
.nav_link.btn {
    color: #fff;
}
@media (max-width: 1200px) {
    .header .particle {
        display: none;
    }
    .nav {
        display: none;
    } 
}

/* Welcome */

.particle-left {
    left: 0;
}
.particle-right {
    right: 0;
}
.link {
    display: block;
    color: #514040;
    font-size: 18px;
}
.link:hover {
     color: #49ad09;
}
.welcome {
    position: relative;
}
.welcome .particle {
    top: 50%;
    transform: translateY(-50%);
}
.welcome_inner {
    padding: 110px 0 228px 0;
    text-align: center;
    z-index: 1;
    position: relative;
}
.welcome_title {
    font-weight: 800;
    font-size: 78px;
    margin-bottom: 36px;
    line-height: 1;
    color: #313131;
}
.welcome_subtitle {
    max-width: 492px;
    margin: 0 auto 64px;
    font-size: 18px;
    color: #514040;
}
.welcome_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_link {
    margin-left: 37px;
    position: relative;
}
.welcome_buttons .btn {
    margin: 0;
}
.welcome_link::after {
    top: 50%;
    position: absolute;
    content: "";
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent #514040 #514040 transparent;
    transform: rotate(-45deg) translateY(-50%);
}

/* Sponsors */

.sponsors {
    position: relative;
}
.sponsors .particle {
    z-index: -1;
    top: -130px;
}
.sponsors_inner {
    padding: 80px 0 220px 0;
}
.sponsors_list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Specialization */

.specialization {
    position: relative;
    padding-bottom: 140px;
}
.specialization .particle {
    top: 100px;
    right: 0;
}
.specialization_cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.specialization_card {
    padding: 40px 30px;
    flex-basis: 50%;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    max-width: 384px;
}
.specialization_card:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}
.specialization_card-head {
    display: flex;
    column-gap: 15px;
    margin-bottom: 32px;
}
.specialization_card-logo {
    height: 100%;
}
.specialization_card-title {
    font-size: 22px;
    color: #313131;
    font-weight: 500;
}
.specialization_card-description {
    font-size: 18px;
    color: #514040;
    margin-bottom: 30px;
}

/* Portfolio & Works */

.portfolio {
    position: relative;
    padding-bottom: 140px;
}
.portfolio-link {
    color: #49ad09;
    text-decoration: none;
    font-size: 18px;
}
 .portfolio-cards {
    margin-bottom: 80px;
    column-gap: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.portfolio-column {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    row-gap: 80px;
}
.portfolio-cards:first-child {
    margin-top: 0; 
}
.portfolio-card {
    max-width: 480px;
    width: 100%;
} 
.portfolio-card_image {
    width: 100%;
}
.portfolio-card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.portfolio-card_title {
    font-size: 28px;
    font-weight: 500;
}

/* Testomonials */

.testimonials_inner {
    position: relative;
    padding-bottom: 140px;
}
.testimonials_slider {
    background-color: #f2f2f2;
    padding: 30px 0;
    margin: 0 80px solid;
    position: relative;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.testimonials_list {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    column-gap: 15px;
    transform: translate(-50%, -50%);
}
.testimonials_slide {
    background-color: #fff;
    flex-shrink: 0;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1);
    padding: 40px 32px;
    width: 380px;
}
.testimonials-feedback-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    color: #32435c;
}
.testimonials-feedback-text {
    font-weight: 400;
    color: #6a635b;
    line-height: 1.5;
    margin-bottom: 10px;
}
.testimonials-rating {
    display: flex;
    row-gap: 3px;
    margin-bottom: 20px;
}
.star {
    width: 18px; height: 18px;
}
.testimonials-autor {
    font-weight: 600;
    font-size: 14px;
    color: #32435c;
}
.testimonials-slider_control {
    padding: 6px; background-color: #fff; border-radius: 70px;
}
.left-btn, .right-btn {
    border: none;
    background-color: transparent;
    width: 50px; height: 50px;
    border-radius: 50%;
}
.right-btn {
    background-color: #313131;
}


